body {
  font-family: "Arial", sans-serif;
}
#contactowatsapp{
  width: 64px;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
body {
  margin: 0;
  padding: 0;
}
.cuadro-general {
  height: 800px;
  width: 900px;
  margin: 60px auto;
  padding: 50px;
  border: 2px solid #f7f3f3;
  border-radius: 10px;
  background-color: #f2f2f2;
 
}

        #izq{
            width: 25%;
            background-color: rgb(42, 216, 207);
            float: left;    
            color: rgb(243, 238, 238); 
            text-align: center;
            line-height: 1.3;

        }

        #der{
            width: 75%;
            background-color: rgb(249, 249, 252);
            float: right;
            line-height: 1.4; /* Puedes ajustar el valor según tus necesidades */
            
        }
    *{
      margin: 0px;
      padding: 0px;
    }
    .foto{
      border: 1px solid darkgrey; /* Borde negro de 1px */
      padding: 3px;
      background-color: darkgrey;
      text-align: center;
      
      display: block;
      
    }
    .icon{
      position: absolute;
      width: 50px;
      height: 50px;
      line-height: 0.2; /* Puedes ajustar el valor según tus necesidades */
      right: -600px;
      position: relative;
  top: -16px; 
  }


.cuadro {
  
      border: 1px solid rgb(42, 216, 207); /* Borde negro de 1px */
      padding: 5px; /* Espacio interno de 5px */
      display: inline-block;
      background-color: rgb(42, 216, 207);
      color: rgb(243, 238, 238); 
      font-weight: bold;
      background-image: linear-gradient(45deg, #28f7f7, #169aa3, #1c7f86);
      transform: translateY(+30px);
}

.texto-negrita {
  font-weight: bold;
  border: 1px solid rgb(42, 216, 207); /* Borde negro de 1px */
      padding: 5px; /* Espacio interno de 5px */
      display: inline-block;
      background-color: rgb(42, 216, 207);
      color: rgb(243, 238, 238); 
      font-weight: bold;

}

.footer {
  text-align: center;

}

.color {
  color: rgb(41, 203, 224);
}

.texto-rojo {
  color: rgb(22, 224, 224);
  text-align: center;
}

.texto-azul {
  color: rgb(12, 12, 12);
  font-weight: bold;
  text-align: center;
}

.icono {
  font-weight: bold;
  border: 1px solid rgb(42, 216, 207); /* Borde negro de 1px */
      padding: 5px; /* Espacio interno de 5px */
      display: inline-block;
      background-color: rgb(42, 216, 207);
      color: rgb(243, 238, 238); 
      line-height: 0.2; /* Puedes ajustar el valor según tus necesidades */
      right: -0px;
      position: relative;
  top: 15px; 
  text-align: left;
  
}